.main-nav-item {
    color: $lightGrey;
    font-family: $main-nav-and-search;
    font-size: 12px;
    line-height: 32px;
    font-weight: 400;

    &__geo {
        margin: 0 5.6px 0 2px;
    }
    
    &_float-left {
        float: left;
    }

    &_float-right {
        float: right;
    }

    &_margin {
        margin: 0 24px;
    }
    
}