@import "_reset";
@import "_variables";
@import "_main-nav-item";
@import "_main-nav";

.container {
  max-width: 1280px;
  margin: 0 auto;
  content: "";
  clear: both;

  &_nav-style {
    // height: 32px;
    background-color: $lightnessGrey;
  }

  &_header-style {
    // height: 76px;
    background-color: $lightColor;
  }
}