@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$main-nav-and-search: 'Open Sans', sans-serif;
$header-button: 'Open Sans', sans-serif;

$userButtonColor: #9B51E0;
$pointColor:#E92F2F;
$formSearchPlaceholderColor: #708598;
$BorderColor: #ECEFF1;
$catalogButtonColor: #FED83D;
$lightColor: #FFFFFF;
$lightnessGrey: #FAFBFC;
$lightGrey: #708598;
$dark: #050F19;