@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$main-nav-and-search: 'Open Sans', sans-serif;
$header-button: 'Open Sans', sans-serif;

$lightColor: #FFFFFF;
$lightnessGrey: #FAFBFC;
$lightGrey: #708598;
$dark: #050F19;