@import "blocks/reset";
@import "blocks/variables";
@import "blocks/main-nav";
@import "blocks/main-nav-item";

.container {
  max-width: 1280px;
  margin: 0 auto;
  content: "";
  clear: both;

  &_nav-style {
    background-color: $lightnessGrey;
  }

  &_header-style {
    background-color: $lightColor;
  }
}