/* Reset
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img, audio, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, video, img, svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

.main-nav {
  max-width: 1110px;
  margin: 0 auto;
}

.main-nav-item {
  color: #708598;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 32px;
  font-weight: 400;
}

.main-nav-item .fas {
  margin-left: 4px;
  vertical-align: middle;
}

.main-nav-item__wrap {
  position: relative;
}

.main-nav-item__submenu {
  position: absolute;
  top: 30px;
  left: 1005px;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: #FAFBFC;
}

.main-nav-item__wrap:hover .main-nav-item__submenu {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.main-nav-item__geo {
  margin: 0 5.6px 0 2px;
}

.main-nav-item_float-left {
  float: left;
}

.main-nav-item_float-right {
  float: right;
}

.main-nav-item_margin {
  margin: 0 24px;
}

.header {
  max-width: 1110px;
  height: 76px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.catalog-button {
  height: 40px;
  width: 116px;
  background-color: #FED83D;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #050F19;
  border-radius: 5px;
  cursor: pointer;
}

.catalog-button__line {
  margin: 10px 8px 10px 16px;
}

.form-search__input {
  font-family: "Open Sans", sans-serif;
  color: #708598;
  border: 1px solid #ECEFF1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 526px;
  height: 40px;
  padding-left: 14px;
}

.list-button {
  position: relative;
  width: 111px;
  height: 40px;
  background: #FAFBFC;
  border: 1px solid #ECEFF1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #050F19;
  cursor: pointer;
}

.list-button__icon {
  margin: 10px 12px 10px 16px;
}

.list-button__point {
  position: absolute;
  top: 6px;
  left: 26px;
  width: 10px;
  height: 10px;
  background: #E92F2F;
  border: 2px solid #FAFBFC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.user-button {
  width: 40px;
  height: 40px;
  background: #9B51E0;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  content: "";
  clear: both;
}

.container_nav-style {
  background-color: #FAFBFC;
}

.container_header-style {
  background-color: #FFFFFF;
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
}
/*# sourceMappingURL=style.css.map */